* {
	box-sizing: border-box;
}

p {
	all: unset;
}

body {
	background-color: #13120a;
	color: #edecec;
	/* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding-top: 10px;
	background-color: #13120a;
}
.headerWrapper {
	background-color: #13120a;
	display: flex;
	width: 96%;
	justify-content: space-between;
	align-items: center;
}

.logoWrapper img {
	width: 120px;
}

.navWrapper nav ul {
	display: flex;
	list-style: none;
	gap: 50px;
}

.navWrapper nav a {
	color: #edecec;
	text-decoration: none;
	font-size: 1.2em;
	letter-spacing: 0.5px;
	font-weight: 400;
}

.ctaWrapper {
	display: flex;
	gap: 10px;
}

button {
	border: 1px solid white;
	padding: 3px 14px;
	border-radius: 20px;
	background-color: #13120a;
	color: #edecec;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 1.2em;
	letter-spacing: 0.8px;
	font-weight: 400;
	cursor: pointer;
}

.primary {
	background-color: #edecec;
	color: #13120a;
}

.primary:hover {
	background-color: #c4c4c4;
}

button:hover {
	background-color: #232217;
}

.mainCTA {
	padding: 12px 25px;
	border-radius: 50px;
	display: flex;
	gap: 5px;
}

a {
	text-decoration: none;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.bigWrapper {
	width: 96%;
	/* border: 2px solid red; */
	margin-top: 70px;
}

.heroSection {
	display: flex;
	flex-direction: column;
}

/* .heroTextCTA,
.heroImage {
	border: 2px solid white;
} */

.heroTextCTA {
	min-height: 45vh;
	display: flex;
	flex-direction: column;
	justify-content: end;
	font-weight: 100;
	margin-bottom: 4em;
	gap: 20px;
}

.heroTextCTA h1 {
	font-weight: 400;
	letter-spacing: 1px;
}

button span {
	display: inline-flex;
	align-items: end;
}

.heroImage img {
	border-radius: 10px;
}

.trustedBy {
	display: flex;
	flex-direction: column;
	/* margin-top: 70px; */
	gap: 20px;
}

.trustedText {
	display: flex;
	justify-content: center;
	font-size: 1.2em;
}

.trustedCards {
	display: flex;
	justify-content: space-between;
}

.card {
	display: flex;
	width: 180px;
	height: 120px;
	border-radius: 10px;
	background-color: #1b1912;
	justify-content: center;
	align-items: center;
}

.feature {
	display: flex;
	gap: 1em;
	padding: 20px;
	background-color: #1b1912;
	border-radius: 10px;
}

.feature div {
	/* border: 2px solid white; */
}

.featureText {
	width: 35%;
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: center;
	font-size: 1.6em;
}

.fd {
	color: #999894;
}

.featureText a {
	color: #f54e00;
}
.featureSS {
	width: 70%;
	/* padding: 30px; */
	border-radius: 10px;
	overflow: hidden;
	height: 90vh;
}

.feature1 .featureSS {
	background-color: #49433a;
}

.feature2 .featureSS {
	background-image: url("./assets/pastelBackground.png");
}

.feature3 .featureSS {
	background-image: url("./assets/pastelBackground.png");
	display: flex;
	justify-content: center;
}
.featureSS img {
	object-fit: contain;
	height: 100%;
	width: 95%;
	border-radius: 10px;
}

.testimonials {
	display: flex;
	flex-direction: column;
}

.testimonialHeading {
	text-align: center;
}

h3 {
	font-size: 2.8em;
	font-weight: 400;
}

.testimonialCards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.eachTestiCard {
	background-color: #1b1912;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 70px;
}

.testiText p {
	all: unset;
	font-size: 1.3em;
}

.authorNameDetail {
	display: grid;
	grid-template-columns: 1fr 9fr;
	gap: 10px;
}

.authorPhoto {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	overflow: hidden;
}

.authorPhoto img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.authorDetail {
	display: flex;
	flex-direction: column;
	align-items: start;
	border-radius: 5px;
	justify-content: space-around;
}

.authorName {
	font-weight: 900;
	font-size: 1.2em;
}

.authorDesig {
	color: #999894;
}

.useCaseCards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.eachUseCaseCard {
	background-color: #1b1912;
	border-radius: 5px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.useCaseText {
	display: flex;
	flex-direction: column;
	font-size: 1.3em;
}

.useCaseTextPara {
	color: #999894;
}
.useCaseText a {
	color: #f54e00;
	text-decoration: none;
	cursor: pointer;
	margin-top: 20px;
}

.useCaseImage {
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.useCaseImage img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.changelog {
	display: flex;
	flex-direction: column;
}

.changelogCards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
}

.eachChangelogCard {
	display: flex;
	flex-direction: column;
	background-color: #1b1912;
	border-radius: 5px;
	padding: 20px;
	gap: 20px;
}

.changelogDate {
	color: #999894;
	font-size: 1.5em;
}

.changelogDetails {
	font-size: 1.5em;
}

.team {
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: #1b1912;
	gap: 10px;
}
.teamText {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}
.teamText p {
	font-size: 2em;
	font-weight: 500;
}
.teamText a {
	color: #f54e00;
	text-decoration: none;
	font-size: 1.3em;
}

.teamImage {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 20px;
}

.teamImage img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.finalCTA {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.finalCTAText {
	font-size: 6em;
}

.finalCTA button {
	font-size: 1.5em;
}

footer {
	background-color: #1b1912;
	min-height: 400px;
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

.footerWrapper {
	width: 96%;
	margin-top: 50px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footerLinks {
	display: flex;
	justify-content: space-between;
}

.linkHeading {
	color: #999894;
	font-size: 1.3em;
	margin-bottom: 20px;
}

.actualLinks {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.actualLinks a {
	text-decoration: none;
	color: white;
	font-size: 1.3em;
	cursor: pointer;
}

.copywriteInfo {
	color: #999894;
	font-size: 1.3em;
}
